table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-cell {
  padding: 12px 12px 12px 0;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr:not(.mat-header-row):hover {
  background: whitesmoke;
}