.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

html, body, .col2 {
  height: 100%;
}

body {
  margin: 0;
}

.col1, .col2 {
  width: 50%;
}

.col1 {
  position: fixed;
  left: 0;
  overflow: auto;

}

.col2 {
  margin-left: 50%;
}

.mat-list-item {
  height: fit-content;
  padding: 5px 5px;
}
